body{
    text-align: center;
    background-color: black;
    color: beige;
}

label{
    display: block;
    padding: 1rem;
}

input{
    width: 25em;
    padding: 0rem 0.5rem;
    height: 2em;
    /* font-size:medium; */
    border-radius: 20px;
    background-color: rgb(247, 217, 217);
}

button{
    width: 4em;
    padding: 0.5rem 0.3rem;
    border-radius: 15px;
    font-size: larger;
    cursor: pointer;
    margin-bottom: 1rem;
}

#btn:hover{
    background-color: rgb(246, 230, 194);
}